:root {
    --main: #000;
    --light: #fff;
    --green: #9ece9a;
    --darkgreen: #598061;
    --pink: #E27396;
    --gray: #dadada;
}

body {
    background-color: var(--main);
    color: var(--light);
    font-family: Montserrat, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--pink)
}

a:hover {
    color: var(--green);
}


h1 {
    font-family: Fraunces, serif;
    text-align: center;
    font-size: 6em;
    margin: 200px 0;
}

h2 {
    margin-top: 4em;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    color: var(--pink);
}

main {
    max-width: 1260px;
}

section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

article {
    background-color: var(--darkgreen);
    padding: 20px;
    margin: 0;
    width: 375px;
    transition: all .2s ease-in-out;
}

article:hover {
    transform: scale(1.1);
}

article:nth-child(even){
    background-color: var(--light);
    color: var(--darkgreen);
}

article img {
    max-width: 100%;
    border-radius: 10px;
}

.card-main-img {
    width: 365px;
    height: 240px;
    object-fit: cover;
}

.btn-box {
    display: flex;
    justify-content: center;
}

button {
    border: 2px solid var(--pink);
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--light);
}

button:hover{
    background-color: var(--pink);
    transition: 1s;
    color: var(--light);
}
button a:hover {
    color: var(--light);
}

.tiny-thumbnails {
    display:flex;
    margin-top: 20px;
    cursor: pointer;
}

.tiny-thumbnails img {
    width: 100px;
}

.tiny-thumbnails img:hover {
    width: 150px;
}

footer p {
    text-align: center;
    color: var(--gray);
}


@media screen and (max-width: 800px) {
    section {
        display: block;
    }
    h1 {
       font-size: 3em;
       margin: auto;
    }

    article {
        max-width: 100%;
    }
    
    article:hover {
        transform: none;
    }
}
